{% extends "@NovosgaAttendance/base.html.twig" %}

{% trans_default_domain 'NovosgaAttendanceBundle' %}

{% block body %}
    <div id="attendance" v-cloak>
        <div id="atendimento" v-if="usuario.numeroLocal">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div id="local">
                        <span class="numero" v-text="usuario.numeroLocal">
                            {{ local }}
                        </span>
                        <a href="#dialog-local" data-toggle="modal">
                            {{ 'button.change'|trans }}
                        </a>
                    </div>
                </div>
                <div class="attendance-panel col-sm-9 col-md-10">
                    <div class="row" v-if="atendimento && atendimento.status!=='encerrando'">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.attendance'|trans }}
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>
                                            {{ 'label.ticket'|trans }}
                                        </th>
                                        <td>
                                            {%- verbatim -%}
                                                {{ atendimento.senha.format }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {{ 'label.service'|trans }}
                                        </th>
                                        <td>
                                            {%- verbatim -%}
                                                {{ atendimento.servico.nome }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {{ 'label.priority'|trans }}
                                        </th>
                                        <td>
                                            {%- verbatim -%}
                                                {{ atendimento.prioridade.nome }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.customer'|trans }}
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>
                                            {{ 'label.customer.name'|trans }}
                                        </th>
                                        <td>
                                            {%- verbatim -%}
                                                {{ atendimento.cliente ? atendimento.cliente.nome : '' }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {{ 'label.customer.id'|trans }}
                                        </th>
                                        <td>
                                            {%- verbatim -%}
                                                {{ atendimento.cliente ? atendimento.cliente.documento : '' }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" v-if="atendimento && atendimento.status==='encerrando'">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.attendance'|trans }}
                                </div>
                                <table class="table">
                                    <tr class="row">
                                        <td class="col-md-4 text-center">
                                            <strong>{{ 'label.ticket'|trans }}</strong>
                                            <br>
                                            {%- verbatim -%}
                                                {{ atendimento.senha.format }}
                                            {%- endverbatim -%}
                                        </td>
                                        <td class="col-md-4 text-center">
                                            <strong>{{ 'label.service'|trans }}</strong>
                                            <br>
                                            {%- verbatim -%}
                                                {{ atendimento.servico.nome }}
                                            {%- endverbatim -%}
                                        </td>
                                        <td class="col-md-4 text-center">
                                            <strong>{{ 'label.priority'|trans }}</strong>
                                            <br>
                                            {%- verbatim -%}
                                                {{ atendimento.prioridade.nome }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.services.available'|trans }}
                                </div>
                                <div class="card-body">
                                    <p class="text-muted" v-if="servicosUsuario.length===0">
                                        {{ 'label.services.available.empty'|trans }}
                                    </p>

                                    <ul class="list-group">
                                        <li class="list-group-item"
                                            v-for="su in servicosUsuario"
                                            v-if="servicosRealizados.indexOf(su.servico)===-1">
                                            <span v-if="su.subServicos.length">
                                                {%- verbatim -%}
                                                    {{ su.servico.nome }}
                                                {%- endverbatim -%}
                                            </span>
                                            <ul v-if="su.subServicos.length">
                                                <li v-for="sub in su.subServicos" v-if="sub.disabled!==true">
                                                    <a href="#" title="{{ 'button.add'|trans }}"
                                                       v-on:click.prevent="addServicoRealizado(sub)">
                                                        {%- verbatim -%}
                                                            {{ sub.nome }}
                                                        {%- endverbatim -%}
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="#" title="{{ 'button.add'|trans }}"
                                               v-if="su.subServicos.length===0"
                                               v-on:click.prevent="addServicoRealizado(su.servico)">
                                                {%- verbatim -%}
                                                    {{ su.servico.nome }}
                                                {%- endverbatim -%}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.services.executed'|trans }}
                                </div>
                                <div class="card-body">
                                    <p class="text-muted" v-if="servicosRealizados.length===0">
                                        {{ 'label.services.executed.empty'|trans }}
                                    </p>

                                    <ul class="list-group">
                                        <li class="list-group-item"
                                            v-for="servico in servicosRealizados">
                                            <a href="#"
                                               title="{{ 'label.remove'|trans }}"
                                               v-on:click.prevent="removeServicoRealizado(servico)">
                                                {% verbatim %}
                                                    {{ servico.nome }}
                                                {% endverbatim %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row controls">
                        <div class="col-md-4" v-if="!atendimento">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    title="{{ 'button.call_next'|trans }}"
                                    v-bind:disabled="atendimentos.length===0"
                                    v-on:click="chamar">
                                <i class="fa fa-bullhorn"></i>
                                <span>{{ 'button.call_next'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-secondary btn-block"
                                    title="{{ 'button.call_again'|trans }}"
                                    v-on:click="chamar">
                                <i class="fa fa-bullhorn"></i>
                                <span>{{ 'button.call_again'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-primary btn-block btn-control iniciar"
                                    title="{{ 'button.start'|trans }}"
                                    v-on:click="iniciar">
                                <i class="fa fa-play"></i>
                                <span>{{ 'button.start'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-danger btn-block"
                                    title="{{ 'button.not_show'|trans }}"
                                    v-on:click="naoCompareceu">
                                <i class="fa fa-user-times"></i>
                                <span>{{ 'button.not_show'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4" v-if="atendimento && atendimento.status==='iniciado'">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    title="{{ 'button.finish'|trans }}"
                                    v-on:click="preparaEncerrar">
                                <i class="fa fa-stop"></i>
                                <span>{{ 'button.finish'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4" v-if="atendimento && atendimento.status==='iniciado'">
                            <button type="button"
                                    class="btn btn-danger btn-block"
                                    title="{{ 'button.error'|trans }}"
                                    v-on:click="erroTriagem">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>{{ 'button.error'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4" v-if="atendimento && atendimento.status==='encerrando'">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    v-on:click="encerrar(false)"
                                    title="{{ 'button.finish'|trans }}">
                                <i class="fa fa-stop"></i>
                                <span>{{ 'button.finish'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4" v-if="atendimento && atendimento.status==='encerrando'">
                            <button type="button"
                                    class="btn btn-secondary btn-block"
                                    v-on:click="encerrarRedirecionar"
                                    title="{{ 'button.redirect'|trans }}">
                                <i class="fa fa-stop"></i>
                                <span>{{ 'button.redirect'|trans }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fila">
                <h4>{{ 'label.my_queue'|trans }}  (<span v-bind:class="'tipo-' + usuario.tipoAtendimento">{% verbatim %}{{ tiposAtendimento[usuario.tipoAtendimento] }}{% endverbatim %}</span>):</h4>
                <ul>
                    <li>
                        <i class="fa fa-users"></i>
                    </li>
                    <li v-for="(atendimento, index) in atendimentos">
                        <a href="#"
                           v-bind:class="{ prioridade: atendimento.prioridade.peso, proximo: index===0 }"
                           v-on:click.prevent="infoSenha(atendimento)"
                           v-bind:title="atendimento.servico.nome + ' (' + atendimento.tempoEspera + ')'">
                            {%- verbatim -%}
                                {{ atendimento.senha.format }}
                            {%- endverbatim -%}
                        </a>
                    </li>
                    <li class="empty" v-if="atendimentos.length===0">
                        {{ 'label.my_queue.empty'|trans }}
                    </li>
                </ul>
            </div>
        </div>

        <p class="links">
            <a href="#dialog-busca" class="btn btn-secondary" data-toggle="modal">
                <i class="fa fa-search"></i>&nbsp;
                {{ 'button.find_ticket'|trans }}
            </a>
            <button id="notification" type="button" class="btn btn-warning" onclick="App.Notification.request(this)" style="display: none">
                <i class="fa fa-exclamation"></i>&nbsp;
                {{ 'button.enable_notification'|trans }}
            </button>
        </p>

        <div id="dialog-local" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="setLocal">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'modal.place'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{ 'label.place.number'|trans }}</label>
                                        <input type="number" maxlength="3" class="form-control" v-model.number="novoLocal.numeroLocal" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" title="{{ 'label.attendance.type'|trans }}">{{ 'label.attendance'|trans }}</label>
                                        <select class="form-control" v-model="novoLocal.tipoAtendimento">
                                            {% for v,l in tiposAtendimento %}
                                                <option value="{{ v }}" {% if tipoAtendimento == v %}selected="selected"{% endif %}>{{ l }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                {{ 'button.save'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# dialog redirecionar #}
        <div id="dialog-redirecionar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" v-if="atendimento">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'modal.redirect'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>{{ 'label.redirect.new_service'|trans }}</label>
                            <select class="form-control" v-model="servicoRedirecionar">
                                <option value="">{{ 'label.choose'|trans }}</option>
                                {% for su in servicosIndisponiveis %}
                                    <option value="{{ su.servico.id }}">{{ su.servico.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                v-on:click="redirecionar()"
                                v-if="atendimento.status !== 'encerrando'">
                            {{ 'modal.redirect.button.redirect'|trans }}
                        </button>

                        <button type="button" class="btn btn-primary"
                                v-on:click="encerrar(true)"
                                v-if="atendimento.status === 'encerrando'">
                            {{ 'modal.redirect.button.finish'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog-erro-encerrar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'modal.error'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ 'modal.error.text'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {# dialog busca #}
        <div id="dialog-busca" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'modal.search'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="row" role="form" v-on:submit.prevent="consultar">
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" maxlength="10" class="form-search form-control" placeholder="{{ 'modal.search.placeholder'|trans }}" v-model="search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" title="{{ 'modal.search.button.submit'|trans }}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="result">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'label.ticket.number'|trans }}</th>
                                        <th>{{ 'label.service'|trans }}</th>
                                        <th>{{ 'label.ticket.arrival_date'|trans }}</th>
                                        <th>{{ 'label.ticket.start_date'|trans }}</th>
                                        <th>{{ 'label.ticket.end_date'|trans }}</th>
                                        <th>{{ 'label.triage'|trans }}</th>
                                        <th>{{ 'label.ticket.user'|trans }}</th>
                                        <th>{{ 'label.status'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% verbatim %}
                                        <tr v-for="atendimento in searchResult">
                                            <td>
                                                {{atendimento.senha.format}}
                                            </td>
                                            <td>
                                                {{atendimento.servico.nome}}
                                            </td>
                                            <td>
                                                <span v-if="atendimento.dataChegada">
                                                    {{moment(atendimento.dataChegada, 'YYYY-MM-DD hh:mm:ss').format(dateTimeFormat)}}
                                                </span>
                                            </td>
                                            <td>
                                                <span v-if="atendimento.dataInicio">
                                                    {{moment(atendimento.dataInicio, 'YYYY-MM-DD hh:mm:ss').format(dateTimeFormat)}}
                                                </span>
                                            </td>
                                            <td>
                                                <span v-if="atendimento.dataFim">
                                                    {{moment(atendimento.dataFim, 'YYYY-MM-DD hh:mm:ss').format(dateTimeFormat)}}
                                                </span>
                                            </td>
                                            <td>
                                                {{atendimento.triagem}}
                                            </td>
                                            <td>
                                                {{atendimento.usuario}}
                                            </td>
                                            <td>
                                                {{atendimento.status}}
                                            </td>
                                        </tr>
                                    {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# dialog info senha #}
        <div id="dialog-senha" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'label.ticket'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" v-if="atendimentoInfo">
                        <div class="field">
                            <h4>{{ 'label.ticket.number'|trans }}</h4>
                            <p class="numero">
                                {% verbatim %}
                                    {{ atendimentoInfo.senha.format }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{{ 'label.service'|trans }}</h4>
                            <p class="servico">
                                {% verbatim %}
                                    {{ atendimentoInfo.servico.nome }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{{ 'label.priority'|trans }}</h4>
                            <p class="nome-prioridade">
                                {% verbatim %}
                                    {{ atendimentoInfo.prioridade.nome }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{{ 'label.ticket.arrival_date'|trans }}</h4>
                            <p class="chegada">
                                {% verbatim %}
                                    {{ atendimentoInfo.chegada }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{{ 'label.ticket.wait_time'|trans }}</h4>
                            <p class="espera">
                                {% verbatim %}
                                    {{ atendimentoInfo.espera }}
                                {% endverbatim %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {# som executado quando a fila deixa de estar fazia #}
    <audio id="alert" src="{{ asset('bundles/novosgaattendance/sounds/alert.wav') }}" style="display:none"></audio>
        
    <div id="novosga-clock" title="{{ 'server.datetime'|trans }}" class="clock"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgaattendance/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var local             = {{ local ? local : 'null' }},
            usuario           = {{ usuario|json_encode()|raw }},
            unidade           = {{ unidade|json_encode()|raw }},
            atendimento       = {{ atendimento|json_encode()|raw }},
            tipoAtendimento   = '{{ tipoAtendimento ? tipoAtendimento : 'null' }}',
            tiposAtendimento  = {{ tiposAtendimento|json_encode()|raw }},
            servicosUsuario   = {{ servicos|json_encode()|raw }},
            dateTimeFormat    = '{{ 'MM/DD/YYYY hh:mm:ss'|trans }}',
            alertRedirecionar = '{{ 'ticket.error.alert'|trans }}',
            wsSecret          = '{{ wsSecret }}';
    
        App.Clock.init("novosga-clock", {{ time }});
    </script>
    <script src="{{ asset('bundles/novosgaattendance/js/script.js') }}"></script>
{% endblock %}
