{% extends "@NovosgaAttendance/base.html.twig" %}

{% block body %}
    <div id="attendance">
        <div id="atendimento" v-if="local">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div id="local">
                        <span class="label-local">
                            {% trans %}Guichê{% endtrans %}
                        </span>
                        <span class="numero" v-text="usuario.numeroLocal">
                            {{ local }}
                        </span>
                        <a href="#dialog-local" data-toggle="modal">
                            {% trans %}Alterar{% endtrans %}
                        </a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div class="row" v-if="atendimento && atendimento.status!=='encerrando'">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    {% trans %}Atendimento{% endtrans %}
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tr>
                                            <th class="col-3">
                                                {% trans %}Senha|Bilhete{% endtrans %}
                                            </th>
                                            <td>
                                                {%- verbatim -%}
                                                    {{ atendimento.senha.format }}
                                                {%- endverbatim -%}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {% trans %}Serviço{% endtrans %}
                                            </th>
                                            <td>
                                                {%- verbatim -%}
                                                    {{ atendimento.servico.nome }}
                                                {%- endverbatim -%}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {% trans %}Prioridade{% endtrans %}
                                            </th>
                                            <td>
                                                {%- verbatim -%}
                                                    {{ atendimento.prioridade.nome }}
                                                {%- endverbatim -%}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    {% trans %}Cliente{% endtrans %}
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tr>
                                            <th class="col-3">
                                                {% trans %}Nome{% endtrans %}
                                            </th>
                                            <td>
                                                {%- verbatim -%}
                                                    {{ atendimento.cliente ? atendimento.cliente.nome : '' }}
                                                {%- endverbatim -%}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {% trans %}Documento{% endtrans %}
                                            </th>
                                            <td>
                                                {%- verbatim -%}
                                                    {{ atendimento.cliente ? atendimento.cliente.documento : '' }}
                                                {%- endverbatim -%}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>                                                
                        </div>
                    </div>
                                    
                    <div class="row" v-if="atendimento && atendimento.status==='encerrando'">
                        <div class="col-6">
                            <h3>{% trans %}Serviços disponíveis{% endtrans %}</h3>
                            <ul class="list-group">
                                <li class="list-group-item" 
                                    v-for="su in servicosUsuario" 
                                    v-if="servicosRealizados.indexOf(su.servico)===-1">
                                    <span v-if="su.subServicos.length">
                                        {%- verbatim -%}
                                            {{ su.servico.nome }}
                                        {%- endverbatim -%}
                                    </span>
                                    <ul v-if="su.subServicos.length">
                                        <li v-for="sub in su.subServicos" v-if="sub.disabled!==true">
                                            <a href="#" title="{% trans %}Adicionar{% endtrans %}"
                                               v-on:click.prevent="addServicoRealizado(sub)">
                                                {%- verbatim -%}
                                                    {{ sub.nome }}
                                                {%- endverbatim -%}
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" title="{% trans %}Adicionar{% endtrans %}"
                                       v-if="su.subServicos.length===0"
                                       v-on:click.prevent="addServicoRealizado(su.servico)">
                                        {%- verbatim -%}
                                            {{ su.servico.nome }}
                                        {%- endverbatim -%}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h3>{% trans %}Serviços realizados{% endtrans %}</h3>
                            <ul class="list-group">
                                <li class="list-group-item" 
                                    v-for="servico in servicosRealizados">
                                    <a href="#" 
                                       title="{% trans %}Remover{% endtrans %}"
                                       v-on:click.prevent="removeServicoRealizado(servico)">
                                        {% verbatim %}
                                            {{ servico.nome }}
                                        {% endverbatim %}
                                    </a>
                                </li>
                            </ul>
                            <div class="checkbox">
                                <label title="{% trans %}Marque para encerrar e redirecionar o atendimento atual{% endtrans %}">
                                    <input type="checkbox" v-model="redirecionarAoEncerrar" >
                                    {% trans %}Redirecionar atendimento ao encerrar {% endtrans %}
                                </label>
                            </div>
                        </div>
                    </div>

                    <hr>
                    
                    <div class="row controls">
                        <div class="col-4" v-if="!atendimento">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    title="{% trans %}Chamar próximo{% endtrans %}"
                                    v-bind:disabled="atendimentos.length===0"
                                    v-on:click="chamar">
                                <i class="fa fa-bullhorn"></i>
                                <span>{% trans %}Chamar próximo{% endtrans %}</span>
                            </button>
                        </div>
                            
                        <div class="col-4" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-secondary btn-block"
                                    title="{% trans %}Chamar próximo{% endtrans %}"
                                    v-on:click="chamar">
                                <i class="fa fa-bullhorn"></i>
                                <span>{% trans %}Chamar novamente{% endtrans %}</span>
                            </button>
                        </div>
                        
                        <div class="col-4" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-primary btn-block btn-control iniciar"
                                    title="{% trans %}Iniciar atendimento{% endtrans %}"
                                    v-on:click="iniciar">
                                <i class="fa fa-play"></i>
                                <span>{% trans %}Iniciar atendimento{% endtrans %}</span>
                            </button>
                        </div>
                            
                        <div class="col-4" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-danger btn-block"
                                    title="{% trans %}Não compareceu{% endtrans %}"
                                    v-on:click="naoCompareceu">
                                <i class="fa fa-user-times"></i>
                                <span>{% trans %}Não compareceu{% endtrans %}</span>
                            </button>
                        </div>
                            
                        <div class="col-4" v-if="atendimento && atendimento.status==='iniciado'">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    title="{% trans %}Encerrar atendimento{% endtrans %}"
                                    v-on:click="preparaEncerrar">
                                <i class="fa fa-stop"></i>
                                <span>{% trans %}Encerrar atendimento{% endtrans %}</span>
                            </button>
                        </div>
                        
                        <div class="col-4" v-if="atendimento && atendimento.status==='iniciado'">
                            <button type="button"
                                    class="btn btn-danger btn-block"
                                    title="{% trans %}Erro de triagem{% endtrans %}"
                                    v-on:click="erroTriagem">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>{% trans %}Erro de triagem{% endtrans %}</span>
                            </button>
                        </div>
                            
                        <div class="col-4" v-if="atendimento && atendimento.status==='encerrando'">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    v-on:click="encerrar(false)"
                                    title="{% trans %}Encerrar atendimento{% endtrans %}">
                                <i class="fa fa-stop"></i>
                                <span>{% trans %}Encerrar atendimento{% endtrans %}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fila">
                <h4>{% trans %}Minha fila{% endtrans %}  (<span v-bind:class="'tipo-' + tipoAtendimento " v-text="tiposAtendimento[usuario.tipoAtendimento]">{%- if tipoAtendimento in tiposAtendimento|keys  -%}{{- tiposAtendimento[tipoAtendimento] -}}{%- endif -%}</span>):</h4>
                <ul>
                    <li>
                        <i class="fa fa-users"></i>
                    </li>
                    <li v-for="(atendimento, index) in atendimentos">
                        <a href="#" 
                           v-bind:class="{ prioridade: atendimento.prioridade.peso, proximo: index===0 }" 
                           v-on:click.prevent="infoSenha(atendimento)" 
                           v-bind:title="atendimento.servico.nome + ' (' + atendimento.espera + ')'">
                            {%- verbatim -%}
                                {{ atendimento.senha.format }}
                            {%- endverbatim -%}
                        </a>
                    </li>
                    <li class="empty" v-if="atendimentos.length===0">
                        {% trans %}Fila vazia{% endtrans %}
                    </li>
                </ul>
            </div>
        </div>
        
        <p class="links">
            <a href="#dialog-busca" class="btn btn-secondary" data-toggle="modal">
                <i class="fa fa-search"></i>&nbsp;
                {% trans %}Consultar senha{% endtrans %}
            </a>
            <button id="notification" type="button" class="btn btn-warning" onclick="App.Notification.request(this)" style="display: none">
                <i class="fa fa-exclamation"></i>&nbsp;
                {% trans %}Habilitar notificação{% endtrans %}
            </button>
        </p>

        <div id="dialog-local" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="setLocal">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans %}Guichê{% endtrans %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{% trans %}Número{% endtrans %}</label>
                                        <input type="number" maxlength="3" class="form-control" v-model.number="novoLocal.numeroLocal" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" title="{% trans %}Tipo de Atendimento{% endtrans %}">{% trans %}Atendimento{% endtrans %}</label>
                                        <select class="form-control" v-model="novoLocal.tipoAtendimento">
                                            {% for v,l in tiposAtendimento %}
                                                <option value="{{ v }}" {% if tipoAtendimento == v %}selected="selected"{% endif %}>{{ l }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                {% trans %}Salvar{% endtrans %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# dialog redirecionar #}
        <div id="dialog-redirecionar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" v-if="atendimento">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Redirecionar{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>{% trans %}Novo Serviço{% endtrans %}</label>
                            <select class="form-control" v-model="servicoRedirecionar">
                                <option value="">{% trans %}Selecione{% endtrans %}</option>
                                {% for su in servicosIndisponiveis %}
                                <option value="{{ su.servico.id }}">{{ su.servico.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" 
                                v-on:click="redirecionar()"
                                v-if="atendimento.status !== 'encerrando'">
                            {% trans %}Redirecionar{% endtrans %}
                        </button>
                        
                        <button type="button" class="btn btn-primary" 
                                v-on:click="encerrar(true)"
                                v-if="atendimento.status === 'encerrando'">
                            {% trans %}Encerrar e redirecionar{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog-erro-encerrar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Erro{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% trans %}Nenhum serviço selecionado{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {# dialog busca #}
        <div id="dialog-busca" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Busca{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" role="form" v-on:submit.prevent="consultar">
                            <div class="form-group">
                                <input type="text" maxlength="10" class="form-search form-control" placeholder="{% trans %}Número{% endtrans %}" required
                                       v-model="search">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                {% trans %}Consultar{% endtrans %}
                            </button>
                        </form>
                        <div class="result">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Número{% endtrans %}</th>
                                        <th>{% trans %}Serviço{% endtrans %}</th>
                                        <th>{% trans %}Data chegada{% endtrans %}</th>
                                        <th>{% trans %}Data início{% endtrans %}</th>
                                        <th>{% trans %}Data fim{% endtrans %}</th>
                                        <th>{% trans %}Triagem{% endtrans %}</th>
                                        <th>{% trans %}Atendente{% endtrans %}</th>
                                        <th>{% trans %}Situação{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="atendimento in searchResult">
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.senha.format }}
                                            {% endverbatim %}
                                        </td>
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.servico.nome }}
                                            {% endverbatim %}
                                        </td>
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.chegada }}
                                            {% endverbatim %}
                                        </td>
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.inicio }}
                                            {% endverbatim %}
                                        </td>
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.fim }}
                                            {% endverbatim %}
                                        </td>
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.triagem }}
                                            {% endverbatim %}
                                        </td>
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.usuario }}
                                            {% endverbatim %}
                                        </td>
                                        <td>
                                            {% verbatim %}
                                                {{ atendimento.status }}
                                            {% endverbatim %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# dialog info senha #}
        <div id="dialog-senha" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Senha|Bilhete{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" v-if="atendimentoInfo">
                        <div class="field">
                            <h4>{% trans %}Número{% endtrans %}</h4>
                            <p class="numero">
                                {% verbatim %}
                                    {{ atendimentoInfo.senha.format }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Serviço{% endtrans %}</h4>
                            <p class="servico">
                                {% verbatim %}
                                    {{ atendimentoInfo.servico.nome }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Prioridade{% endtrans %}</h4>
                            <p class="nome-prioridade">
                                {% verbatim %}
                                    {{ atendimentoInfo.prioridade.nome }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Data de chegada{% endtrans %}</h4>
                            <p class="chegada">
                                {% verbatim %}
                                    {{ atendimentoInfo.chegada }}
                                {% endverbatim %}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Tempo de espera{% endtrans %}</h4>
                            <p class="espera">
                                {% verbatim %}
                                    {{ atendimentoInfo.espera }}
                                {% endverbatim %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sga-clock" title="{% trans %}Data e hora no servidor{% endtrans %}"></div>

        {# som executado quando a fila deixa de estar fazia #}
        <audio id="alert" src="{{ asset('bundles/novosgaattendance/sounds/alert.wav') }}" style="display:none"></audio>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgaattendance/css/style.css') }}">
{% endblock %}    

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var local = {{ local ? local : 'null' }},
            unidade = {{ unidade|json_encode()|raw }},
            atendimento = {{ atendimento|json_encode()|raw }},
            tipoAtendimento = {{ tipoAtendimento ? tipoAtendimento : 'null' }}
            tiposAtendimento = {{ tiposAtendimento|json_encode()|raw }},
            servicosUsuario = {{ servicos|json_encode()|raw }},
            MARCAR_ERRO_TRIAGEM = '{% trans %}Realmente deseja marcar como erro de triagem?{% endtrans %}';
    </script>
    <script src="{{ asset('bundles/novosgaattendance/js/script.js') }}"></script>
    <script>
        {#
        App.Clock.init("sga-clock", {{ time }});
        App.Atendimento.marcarNaoCompareceu = '{% trans %}Realmente deseja marcar como não compareceu?{% endtrans %}';
        App.Atendimento.init({% if atendimento %}{{ atendimento.status }}{% else %}1{% endif %});
        #}
    </script>
{% endblock %}
