{% extends "@NovosgaAttendance/base.html.twig" %}

{% trans_default_domain 'NovosgaAttendanceBundle' %}

{% block body %}
    <div id="attendance" v-cloak data-base-url="{{ path('novosga_attendance_index') }}">
        <div id="atendimento" v-if="usuario.numeroLocal && usuario.local">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <a href="#dialog-local" data-bs-toggle="modal" id="local">
                        <span class="local" v-text="usuario.local.nome">
                            {{ local }}
                        </span>
                        <span class="numero" v-text="usuario.numeroLocal">
                            {{ numeroLocal }}
                        </span>
                        <span class="tipo-atendimento" v-bind:class="'tipo-' + usuario.tipoAtendimento">
                            {% verbatim %}
                                {{ tiposAtendimento[usuario.tipoAtendimento] }}
                            {% endverbatim %}
                        </span>
                    </a>
                    <div class="text-center p-3">
                        <i class="fa fa-user"></i>
                        {{app.user.nomeCompleto}}<br>
                        ({{app.user.userIdentifier}})
                    </div>
                </div>
                <div class="attendance-panel col-sm-9 col-md-10">
                    <div class="row" v-if="atendimento && atendimento.status!=='encerrando'">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.attendance'|trans }}
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>
                                            {{ 'label.ticket'|trans }}
                                        </th>
                                        <td :style="{ color: atendimento.prioridade.cor }" class="font-weight-bold">
                                            {%- verbatim -%}
                                                {{ atendimento.senha.format }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {{ 'label.service'|trans }}
                                        </th>
                                        <td :style="{ color: atendimento.prioridade.cor }" class="font-weight-bold">
                                            {%- verbatim -%}
                                                {{ atendimento.servico.nome }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {{ 'label.priority'|trans }}
                                        </th>
                                        <td :style="{ color: atendimento.prioridade.cor }" class="font-weight-bold">
                                            {%- verbatim -%}
                                                {{ atendimento.prioridade.nome }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.customer'|trans }}
                                    <span class="pull-right" title="{{ 'label.edit_customer_info'|trans }}">
                                        <button
                                            :disabled="atendimento.status === 'chamado'"
                                            type="button"
                                            class="btn btn-outline-secondary"
                                            data-bs-target="#dialog-customer"
                                            data-bs-toggle="modal">
                                            Editar <i class="fa fa-edit"></i>
                                        </button>
                                    </span>
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>
                                            {{ 'label.customer.name'|trans }}
                                        </th>
                                        <td>
                                            {%- verbatim -%}
                                                {{ atendimento.cliente ? atendimento.cliente.nome : '' }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            {{ 'label.customer.id'|trans }}
                                        </th>
                                        <td>
                                            {%- verbatim -%}
                                                {{ atendimento.cliente ? atendimento.cliente.documento : '' }}
                                            {%- endverbatim -%}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" v-if="atendimento && atendimento.status==='encerrando'">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            {{ 'label.attendance'|trans }}
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 text-center">
                                                    <strong>{{ 'label.ticket'|trans }}</strong>
                                                    <p :style="{ color: atendimento.prioridade.cor }" class="font-weight-bold">
                                                        {%- verbatim -%}
                                                            {{ atendimento.senha.format }}
                                                        {%- endverbatim -%}
                                                    </p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <strong>{{ 'label.service'|trans }}</strong>
                                                    <p :style="{ color: atendimento.prioridade.cor }" class="font-weight-bold">
                                                        {%- verbatim -%}
                                                            {{ atendimento.servico.nome }}
                                                        {%- endverbatim -%}
                                                    </p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <strong>{{ 'label.priority'|trans }}</strong>
                                                    <p :style="{ color: atendimento.prioridade.cor }" class="font-weight-bold">
                                                        {%- verbatim -%}
                                                            {{ atendimento.prioridade.nome }}
                                                        {%- endverbatim -%}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            {{ 'label.services.available'|trans }}
                                        </div>
                                        <div class="card-body" v-if="servicosUsuario.length===0">
                                            <p class="text-muted">
                                                {{ 'label.services.available.empty'|trans }}
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"
                                                v-for="su in servicosUsuario"
                                                v-if="servicosRealizados.indexOf(su.servico)===-1">
                                                <span v-if="su.subServicos.length">
                                                    {%- verbatim -%}
                                                        {{ su.servico.nome }}
                                                    {%- endverbatim -%}
                                                </span>
                                                <ul v-if="su.subServicos.length">
                                                    <li v-for="sub in su.subServicos" v-if="sub.disabled!==true">
                                                        <a href="#" title="{{ 'button.add'|trans }}"
                                                            v-on:click.prevent="addServicoRealizado(sub)">
                                                            {%- verbatim -%}
                                                                {{ sub.nome }}
                                                            {%- endverbatim -%}
                                                        </a>
                                                    </li>
                                                </ul>
                                                <a href="#" title="{{ 'button.add'|trans }}"
                                                    v-if="su.subServicos.length===0"
                                                    v-on:click.prevent="addServicoRealizado(su.servico)">
                                                    {%- verbatim -%}
                                                        {{ su.servico.nome }}
                                                    {%- endverbatim -%}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            {{ 'label.services.executed'|trans }}
                                        </div>
                                        <div class="card-body" v-if="servicosRealizados.length===0">
                                            <p class="text-muted">
                                                {{ 'label.services.executed.empty'|trans }}
                                            </p>
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item"
                                                v-for="servico in servicosRealizados">
                                                <a href="#"
                                                    title="{{ 'label.remove'|trans }}"
                                                    v-on:click.prevent="removeServicoRealizado(servico)">
                                                    {% verbatim %}
                                                        {{ servico.nome }}
                                                    {% endverbatim %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    {{ 'label.resolution'|trans }}
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="resolucao">{{ 'label.resolution'|trans }}</label>
                                            <select id="resolucao" class="form-control" v-model="atendimento.resolucao">
                                                <option value="resolvido">{{ 'label.resolution_solved'|trans }}</option>
                                                <option value="pendente">{{ 'label.resolution_pending'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="observacao">{{ 'label.notes'|trans }}</label>
                                            <textarea id="observacao" class="form-control" v-model="atendimento.observacao" rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row controls">
                        <div class="col-md-4 d-grid" v-if="!atendimento">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    title="{{ 'button.call_next'|trans }}"
                                    v-bind:disabled="busy || total===0"
                                    v-on:click="chamar">
                                <i class="fa fa-bullhorn"></i>
                                <span>{{ 'button.call_next'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && (atendimento.status==='chamado' || atendimento.status==='iniciado')">
                            <button type="button"
                                    class="btn btn-secondary btn-block"
                                    title="{{ 'button.call_again'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="chamar">
                                <i class="fa fa-bullhorn"></i>
                                <span>{{ 'button.call_again'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-primary btn-block btn-control iniciar"
                                    title="{{ 'button.start'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="iniciar">
                                <i class="fa fa-play"></i>
                                <span>{{ 'button.start'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && atendimento.status==='chamado'">
                            <button type="button"
                                    class="btn btn-danger btn-block"
                                    title="{{ 'button.not_show'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="naoCompareceu">
                                <i class="fa fa-user-times"></i>
                                <span>{{ 'button.not_show'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && atendimento.status==='iniciado'">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    title="{{ 'button.finish'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="preparaEncerrar">
                                <i class="fa fa-stop"></i>
                                <span>{{ 'button.finish'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && atendimento.status==='iniciado'">
                            <button type="button"
                                    class="btn btn-danger btn-block"
                                    title="{{ 'button.error'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="erroTriagem">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>{{ 'button.error'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && atendimento.status==='encerrando'">
                            <button type="button"
                                    class="btn btn-secondary btn-block"
                                    title="{{ 'button.redirect'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="encerrarRedirecionar">
                                <i class="fa fa-stop"></i>
                                <span>{{ 'button.redirect'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && atendimento.status==='encerrando'">
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    title="{{ 'button.finish'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="encerrar(false)">
                                <i class="fa fa-stop"></i>
                                <span>{{ 'button.finish'|trans }}</span>
                            </button>
                        </div>

                        <div class="col-md-4 d-grid" v-if="atendimento && atendimento.status==='encerrando'">
                            <button type="button"
                                    class="btn btn-secondary btn-block"
                                    title="{{ 'button.redirect'|trans }}"
                                    v-bind:disabled="busy"
                                    v-on:click="encerrarVoltar">
                                <i class="fa fa-chevron-left"></i>
                                <span>{{ 'button.back'|trans }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-bind:class="{'fila card mb-3':true, 'border-dark': !fila.servico}" v-for="fila in filas" v-if="!fila.servico || fila.atendimentos.length>0">
                <h5 class="card-header">
                    <span v-if="!fila.servico">Todos serviços</span>
                    <span v-if="fila.servico">
                        {% verbatim %}
                            {{fila.servico.servico.nome}}
                        {% endverbatim %}
                    </span>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>
                            <button class="btn btn-outline-primary"
                                title="{{ 'button.call_next'|trans }}"
                                v-bind:disabled="busy || fila.atendimentos.length===0 || atendimento"
                                v-on:click="chamar"
                                v-if="!fila.servico">
                                <i class="fa fa-bullhorn"></i>
                                {{ 'button.call'|trans }}
                            </button>
                            <button class="btn btn-outline-primary"
                                title="{{ 'button.call_next'|trans }}"
                                v-bind:disabled="busy || fila.atendimentos.length===0 || atendimento"
                                v-on:click="chamarServico(fila.servico.servico)"
                                v-if="fila.servico">
                                <i class="fa fa-bullhorn"></i>
                                {{ 'button.call'|trans }}
                            </button>
                        </li>
                        <li v-for="(atendimento, index) in fila.atendimentos">
                            <a href="#"
                               v-bind:class="{ prioridade: atendimento.prioridade.peso, proximo: index===0 }"
                               v-bind:style="getItemFilaStyle(atendimento)"
                               v-on:click.prevent="infoSenha(atendimento)"
                               v-bind:title="atendimento.servico.nome + ' (' + atendimento.tempoEspera + ')'">
                                {%- verbatim -%}
                                    {{ atendimento.senha.format }}
                                {%- endverbatim -%}
                            </a>
                        </li>
                        <li class="empty" v-if="fila.atendimentos.length===0">
                            {{ 'label.my_queue.empty'|trans }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <p class="links">
            <a href="#dialog-busca" class="btn btn-secondary" data-bs-toggle="modal">
                <i class="fa fa-search"></i>&nbsp;
                {{ 'button.find_ticket'|trans }}
            </a>
            <button id="notification" type="button" class="btn btn-warning" onclick="App.Notification.request(this)" style="display: none">
                <i class="fa fa-exclamation"></i>&nbsp;
                {{ 'button.enable_notification'|trans }}
            </button>
        </p>

        <div id="dialog-local" ref="localModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="setLocal">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'modal.place'|trans }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="control-label">{{ 'label.place.number'|trans }}</label>
                                        <input type="number" maxlength="3" class="form-control" v-model.number="novoLocal.numeroLocal" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="control-label" title="{{ 'label.attendance.type'|trans }}">{{ 'label.attendance'|trans }}</label>
                                        <select class="form-control" v-model="novoLocal.tipoAtendimento" required>
                                            {% for v,l in tiposAtendimento %}
                                                <option value="{{ v }}" {% if tipoAtendimento == v %}selected="selected"{% endif %}>{{ l }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="control-label">{{ 'label.place'|trans }}</label>
                                        <select class="form-control" v-model="novoLocal.local" required>
                                            {% for l in locais %}
                                                <option value="{{ l.id }}" {% if local and local.id == l.id %}selected="selected"{% endif %}>{{ l.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                {{ 'button.save'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ref="customerModal" id="dialog-customer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form
                        v-on:submit.prevent="saveCustomer">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'modal.customer'|trans }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                {{ 'button.save'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# dialog redirecionar #}
        <div ref="redirecionarModal" id="dialog-redirecionar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" v-if="atendimento">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'modal.redirect'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label>{{ 'label.redirect.new_service'|trans }}</label>
                            <select class="form-control" v-model="servicoRedirecionar" v-on:change="changeServicoRedirecionar">
                                <option value="">{{ 'label.choose'|trans }}</option>
                                {% for su in servicosIndisponiveis %}
                                    <option value="{{ su.servico.id }}">{{ su.servico.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>{{ 'label.redirect.new_user'|trans }}</label>
                            <select class="form-control" v-model="novoUsuario">
                                <option v-bind:value="u.id" v-for="u in usuarios">
                                    {% verbatim %}{{ u.nome }} {{ u.sobrenome }}{% endverbatim %}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                v-on:click="redirecionar()"
                                v-if="atendimento.status !== 'encerrando'">
                            {{ 'modal.redirect.button.redirect'|trans }}
                        </button>

                        <button type="button" class="btn btn-primary"
                                v-on:click="encerrar(true)"
                                v-if="atendimento.status === 'encerrando'">
                            {{ 'modal.redirect.button.finish'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# dialog busca #}
        <div id="dialog-busca" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'modal.search'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row" role="form" v-on:submit.prevent="consultar">
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" maxlength="10" class="form-search form-control" placeholder="{{ 'modal.search.placeholder'|trans }}" v-model="search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary" title="{{ 'modal.search.button.submit'|trans }}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="result">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'label.ticket.number'|trans }}</th>
                                        <th>{{ 'label.service'|trans }}</th>
                                        <th>{{ 'label.priority'|trans }}</th>
                                        <th>{{ 'label.ticket.arrival_date'|trans }}</th>
                                        <th>{{ 'label.ticket.start_date'|trans }}</th>
                                        <th>{{ 'label.ticket.end_date'|trans }}</th>
                                        <th>{{ 'label.triage'|trans }}</th>
                                        <th>{{ 'label.ticket.user'|trans }}</th>
                                        <th>{{ 'label.status'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% verbatim %}
                                        <tr v-for="atendimento in searchResult">
                                            <td>
                                                {{atendimento.senha.format}}
                                            </td>
                                            <td>
                                                {{atendimento.servico.nome}}
                                            </td>
                                            <td>
                                                <span v-bind:style="{ 'color': atendimento.prioridade.cor, 'font-weight':  atendimento.prioridade.peso > 0 ? 'bold' : 'normal' }">
                                                    {{atendimento.prioridade.nome}}
                                                </span>
                                            </td>
                                            <td>
                                                <span v-if="atendimento.dataChegada">
                                                    {{moment(atendimento.dataChegada, 'YYYY-MM-DD hh:mm:ss').format(dateTimeFormat)}}
                                                </span>
                                            </td>
                                            <td>
                                                <span v-if="atendimento.dataInicio">
                                                    {{moment(atendimento.dataInicio, 'YYYY-MM-DD hh:mm:ss').format(dateTimeFormat)}}
                                                </span>
                                            </td>
                                            <td>
                                                <span v-if="atendimento.dataFim">
                                                    {{moment(atendimento.dataFim, 'YYYY-MM-DD hh:mm:ss').format(dateTimeFormat)}}
                                                </span>
                                            </td>
                                            <td>
                                                {{atendimento.triagem}}
                                            </td>
                                            <td>
                                                {{atendimento.usuario}}
                                            </td>
                                            <td>
                                                {{atendimento.status}}
                                            </td>
                                        </tr>
                                    {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# dialog info senha #}
        <div id="dialog-senha" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'label.ticket'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" v-if="atendimentoInfo">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>
                                        {{ 'label.ticket.number'|trans }}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{ atendimentoInfo.senha.format }}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {{ 'label.service'|trans }}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{ atendimentoInfo.servico.nome }}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {{ 'label.priority'|trans }}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{ atendimentoInfo.prioridade.nome }}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {{ 'label.ticket.arrival_date'|trans }}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{moment(atendimentoInfo.dataChegada, 'YYYY-MM-DD hh:mm:ss').format(dateTimeFormat)}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {{ 'label.ticket.wait_time'|trans }}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{ atendimentoInfo.tempoEspera }}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {# som executado quando a fila deixa de estar fazia #}
    <audio id="alert" src="{{ asset('bundles/novosgaattendance/sounds/alert.wav') }}" style="display:none"></audio>
        
    <div id="novosga-clock" title="{{ 'server.datetime'|trans }}" class="clock"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgaattendance/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const local = {{ local|json_encode|raw }};
        const numeroLocal = {{ numeroLocal ? numeroLocal : 'null' }};
        const usuario = {{ usuario|json_encode()|raw }};
        const unidade = {{ unidade|json_encode()|raw }};
        const atendimento = {{ atendimento|json_encode()|raw }};
        const tipoAtendimento = "{{ tipoAtendimento ? tipoAtendimento : 'null' }}";
        const tiposAtendimento = {{ tiposAtendimento|json_encode()|raw }};
        const servicosUsuario = {{ servicos|json_encode()|raw }};
        const labelSim = "{{ 'label.yes'|trans }}";
        const labelNao = "{{ 'label.no'|trans }}";
        const dateTimeFormat = "{{ 'MM/DD/YYYY HH:mm:ss'|trans }}";
        const alertTitle = "{{ 'alert.title'|trans }}";
        const alertRedirecionar = "{{ 'alert.ticket_error.text'|trans }}";
        const alertNaoCompareceu = "{{ 'alert.no_show.text'|trans }}";
        const alertEncerrar = "{{ 'alert.finish.text'|trans }}";
        const modalErrorTitle = "{{ 'modal.error'|trans }}"
        const modalErrorText = "{{ 'modal.error.text'|trans }}";
    
        App.Clock.init("novosga-clock", {{ time }});
    </script>
    <script type="text/javascript" src="{{ asset('bundles/novosgaattendance/js/sweetalert.min.js') }}"></script>
    <script src="{{ asset('bundles/novosgaattendance/js/script.js') }}"></script>
{% endblock %}
